---
title: "Iarts"
layout: default
permalink: "/iarts.html"
---

<div class="container">
    <hr style="border-top: 1px solid #ccc; margin: 0.5rem 0;">
    <div class="row justify-content-center">
        <div class="col-md-12">

            
        {% for iart in site.iarts %} 
        <h4 class="font-weight-bold spanborder text-capitalize" id="{{ iart[0] | downcase }}"><span>{{ iart[0] }}</span></h4>
            
        {% assign pages_list = iart[1] %}
        {% for post in pages_list %}
        {% if post.title != null %}
          {% if group == null or group == post.group %}
         
            {% include main-loop-card2.html %}
          {% endif %}
        {% endif %}
        {% endfor %}
        {% assign pages_list = nil %}
        {% assign group = nil %}

        {% endfor %}

        </div>
        
        
    </div>
</div>