<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">Inicio</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/authors-list.html">Colaboradores</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html">Contacto</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/author-all.html">Posts</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/categories.html">Categorías</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/tags.html">Tags</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.wowthemes.net/themes/mundana-ghost/">Ghost</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.wowthemes.net/donate/">Invitar a un café <i class="fa fa-coffee text-danger"></i></a>
</li>
