<!--  Replace menu links here -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

 
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">Inicio</a>
</li>

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/categories.html">Categorías</a>
</li>


<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/authors-list.html">Autores</a>
</li>

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html">Contacto</a>
</li>

<li class="nav-item">
<a target="_blank" class="nav-link" href="https://github.com/SebastianIA71/SebastianIA71.github.io">Github
<i class="fa-brands fa-github text-danger"></i></a>
</li>

<li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.aepia.org/">Aepia<img src="{{site.baseurl}}/assets/images/aepia.jpg"  alt="Logo" style="height: 14px;"></a>
</li>


<li class="nav-item">
<a target="_blank" class="nav-link" href="https://futurium.ec.europa.eu/en/european-ai-alliance">Futurium<img src="{{site.baseurl}}/assets/images/futurium.jpg"  alt="Logo" style="height: 24px;"></a>
</li>


<li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.wowthemes.net/donate/">Invitar a café <i class="fa fa-coffee text-danger"></i></a>
</li>
